name: Test action

on:
  push:
    branches:
      - 'master'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Generate markdown
        uses: ./
        with:
         markdownPath: .
         withPath: files/test.witx
